.header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.button{
    border-radius: 50px;
    border: none;
    height: 60%;
    font-size: 20px;
    background-color: #009183;
    padding: 7px;
    margin-right: 5px;
    color: #fff;
}

.button:hover{
    background-color: #fff;
    color: #009183;
    border: 1px solid;
    border-color: #009183;
    transition: 0.2s;
}






