.cardBlur{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(4px);
}

.formCard {
    display: flex;
    flex-direction: column;
}
.formCard label, input, button, textarea{
    display: inline-block;
    margin: 5px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    resize: none;
}

.formCard label, input, button, textarea:focus{
    border-color: #56ff97;
    outline-color: #56ff97;
}
.formCard button{
    width: 100px;
    margin-top: 10px;
}
.buttons{
    display: flex;
    justify-content: flex-end;
}

.textareaDiv{
    display: flex;
    justify-content: flex-start;
}
.salvar{
    background-color: #56ff97;
    color: rgb(58, 56, 56);
}
.cancelar{
    background-color: #f14954;
    color: #fff;
}


.cardAdd{
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: #009183;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    z-index: 20;
}

/* Colocar modal dentro de uma div e alinhar com flexbox, essa div recebe um blur 2px para embacar o fundo, a div deve ocupar toda a estremidade da tela
 */